* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.page {
    width: 100vw;
    height: 141.4516129vw
        /* calc(3508/2480*100) vw; */
    ;
    padding-left: 85.02857143px
        /* calc((7.2/210)*2480) px;*/
    ;
    padding-right: 85.02857143px
        /* calc((7.2/210)*2480) px;*/
    ;
    padding-top: 178.352862px
        /* calc((15.1/297)*3508) px;*/
    ;
    padding-bottom: 330.7205387px
        /* calc((28/297)*3508) px;*/
    ;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30.11428571px
        /*calc(2.55/210*2480)px;*/
    ;
}

.label {
    border: 0.1rem solid black;
    width: 749.9047619px
        /* calc(63.5/210*2480)px; */
    ;
    height: 349.6188552px
        /*calc(29.6/297*3508)px; */
    ;
    padding: 10px;

    display: grid;
    gap: 5px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "partNumber partNumber"
        "van sheetNumber"
        "edging location";
}

.partNumber {
    grid-area: partNumber;
}

.van {
    grid-area: van;
}

.sheetNumber {
    grid-area: sheetNumber;
}

.edging {
    grid-area: edging;
}

.location {
    grid-area: location;
}